

h2{
    font-size:26px;
    color:#EA5946;
    line-height:66px ;
    background:url(../images/add_contect.gif) no-repeat 19px 12px #eee;
    text-indent: 65px;
}
.add_contact{
    width: 590px;
    margin:0 auto;
}
.add_contact li{
    line-height:58px ;
    height:58px ;
    text-indent: 67px;
    font-size: 20px;
    border-bottom:1px solid #000; 
}
.add_contact input{
    border:none;
    line-height:58px ;
    height:58px ;
    font-size: 20px;
    color:#666;
}
.add_contact .add-on{
    color:#333;
}
.add-on a{
    float: right;
    margin-top: 3px;
    margin-right: 9px;
}
.add_contact span{
    font-size: 12px;
    vertical-align: top;
    line-height: 20px;
    color:#333;
}
.bottom-btn{
    height: 120px;
}
.bottom-btn a{
    float: left;
    width:200px;
    height: 50px;
    font-size:20px ;
    color:#fff;
    margin-top: 30px;
    text-align: center;
    line-height: 50px;
}
.btn-positon{
    margin:0 auto;
    width:432px;
}
.bottom-btn .btn1{
    background: #EA5946;
}
.bottom-btn .btn2{
    background: #666;
    margin-left: 30px;
}









