h2{
    font-size:26px;
    color:#EA5946;
    line-height:66px ;
    background:#eee;
}
h2 span{
    width:34px;
    height:34px;
    float:left;
    margin-top: 18px;
    margin-left: 18px;
    margin-right: 8px;
    background: url(../images/num_bg.gif);
    text-align: center;
    line-height: 34px;
    font-size: 18px;
}
.host-info{
    width:590px;
    margin:0 auto;
}
.host-info li{
    line-height:58px ;
    height:58px ;
    font-size: 20px;
    text-indent: 67px;
    color:#aaa;
    border-bottom:1px solid #000; 
}
.host-info input{
    line-height:58px ;
    height:58px ;
    font-size: 20px;
    color:#aaa;
    border:none;
}
.host-info span{
    font-size: 12px;
    vertical-align: top;
    line-height: 20px;
    color:#333;
}
h3{
    font-size:24px ;
    color:#333;
    height: 70px;
    border-bottom:1px solid #000;
    line-height: 100px;
}
.terms{
    height: 300px;
}
.print{
    width: 590px;
    margin: 0 auto;
}
.print li{
    height: 44px;
    line-height:60px ;
    font-size: 16px;
    color: #333;
    border-bottom:1px solid #000;
}
.bottom-btn{
    height: 120px;
}
.bottom-btn a{
    float: left;
    width:200px;
    height: 50px;
    font-size:20px ;
    color:#fff;
    margin-top: 30px;
    text-align: center;
    line-height: 50px;
}
.btn-positon{
    margin:0 auto;
    width:432px;
}
.bottom-btn .btn1{
    background: #EA5946;
    font-size: 16px;
    line-height: 20px;
}
.bottom-btn .btn2{
    background: #666;
    margin-left: 30px;
}






